/* Bourbon 4.0.2
 * http://bourbon.io
 * Copyright 2011-2014 thoughtbot, inc.
 * MIT License */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 0.975em !important;
    border: none !important;
  }

  .pipe {
    margin: 0 4px !important;
  }

  h1 {
    font-size: 2em !important;
  }

  h2.h1 {
    font-size: 1.2em !important;
    padding-top: 10px !important;
  }

  nav, header, .modal, .btn, .divider, .info-box, .info-box-message {
    display: none !important;
  }

  .heading-wrapper {
    padding-bottom: 0 !important;
  }
  .heading-wrapper figure {
    display: none;
  }

  article {
    padding: 10px !important;
    border: 1px solid #cccccc !important;
  }
  article.child {
    border-top: 0 !important;
  }

  .split, .split.odd {
    width: 50% !important;
  }

  h1:before, h2:before {
    display: none;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
section.modal {
  position: relative;
  font-size: 16px;
  text-align: center;
  padding: 17px 30px;
  min-height: 0;
}
section.modal span:before, section.modal span:after {
  margin-top: 6px;
}
section.modal.warning {
  /*background: #fffae1;
  border: 1px solid #c7c2a9;*/
  background: none repeat scroll 0 0 #fcd7ae;
  border: 1px solid #d64c13;
  fill: #d64c13;
}
section.modal.warning .close:hover {
  color: #242424;
}
section.modal.success {
  background: #e8ffee;
  border: 1px solid #21973c;
  font-weight: 400;
}
section.modal.success span:before {
  color: #1d8034;
}
section.modal.success .close:hover {
  color: #242424;
}
section.modal.error {
  background: #fff6f6;
  border: 1px solid #930000;
}
section.modal.error span:before {
  color: #c73434;
}
section.modal.error .close:hover {
  color: #242424;
}
section.modal .close {
  cursor: pointer;
  font-size: 9px;
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  top: 0;
  bottom: 0;
  margin: auto;
  *top: 50%;
  *margin: 0;
  *margin-top: -4.5px;
  right: 20px;
  color: #424242;
}

.mini-modal {
  display: none;
  position: fixed;
  top: 46px;
  width: 100%;
  z-index: 1001;
  text-align: center;
}
.mini-modal .inner {
  display: inline-block;
  background: #fff9e2;
  font-weight: 400;
  border-radius: 3px;
  border: 1px solid #c7c1aa;
  line-height: 1;
  padding: 12px 16px;
}
.mini-modal .inner span:before {
  vertical-align: top;
  display: inline-block;
  font-family: 'riges-icons';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  margin-right: 4px;
  margin-top: 1px;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
}
.mini-modal.success .inner {
  background: #e8ffee;
  border-color: #21973c;
  color: #424242;
}
.mini-modal.success .inner span:before {
  color: #35bd53;
  content: 'c';
}
.mini-modal.error .inner {
  background: #fff6f6;
  border-color: #bd9393;
}
.mini-modal.error .inner span:before {
  color: #c73434;
  content: '!';
}
.mini-modal.loading {
  top: 70px;
  bottom: 0;
  margin: auto;
}
.mini-modal.loading .inner {
  background: #f3f8ff;
  border-color: #2969bf;
  padding: 10px 16px;
}
.mini-modal.loading span {
  padding-top: 2px;
}
.mini-modal.loading span:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/loading.gif);
  color: #2969bf;
  content: '';
  margin-top: -2px;
  margin-right: 6px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .mini-modal.loading span:before {
    background-image: url(../images/loading@2x.gif);
    background-size: 100%;
  }
}

@media screen and (max-width: 767px) {
  .mini-modal {
    width: 90%;
    left: 5%;
  }
}
.list-table {
  list-style: none;
  margin: 13px 4.2207792%;
  padding: 0;
}
.list-table li {
  clear: both;
  display: block;
  background: #f7f7f7;
  font-weight: 600;
  margin: 0;
}
.list-table li:after {
  content: "";
  display: table;
  clear: both;
}
.list-table li a:not(.delete_favourite):not(.delete):hover, .list-table li a:not(.delete_favourite):not(.delete):focus {
  color: #2969bf;
  text-decoration: underline;
}
.list-table li a:not(.delete_favourite):not(.delete):hover > span, .list-table li a:not(.delete_favourite):not(.delete):focus > span {
  text-decoration: underline;
}
.list-table li .wrap {
  padding: 15px 15px 45px;
}
.list-table li .wrap figure {
  float: left;
  width: 35px;
  height: 35px;
  overflow: hidden;
  width: 35px;
  margin-right: 12px;
  margin-top: 0;
}
.list-table li .wrap .text {
  float: left;
  display: block;
  padding: 10px 0;
}
.list-table li .wrap .delete {
  float: right;
  padding: 0;
}
.list-table li a:not(.delete_favourite):not(.delete),
.list-table li .wrap {
  position: relative;
  display: block;
  line-height: 1;
  text-decoration: none;
  padding: 0;
  color: #424242;
  padding: 14px 0 11px 4.2207792%;
}
.list-table li a:not(.delete_favourite):not(.delete):after,
.list-table li .wrap:after {
  content: "";
  display: table;
  clear: both;
}
.list-table li a:not(.delete_favourite):not(.delete) .text,
.list-table li .wrap .text {
  display: block;
  float: left;
  width: 88.432836%;
}
.list-table li a:not(.delete_favourite):not(.delete) .text:before,
.list-table li .wrap .text:before {
  margin-top: 2px;
}
.list-table li a:not(.delete_favourite):not(.delete) i,
.list-table li .wrap i {
  color: #424242;
  float: right;
  display: block;
  position: relative;
  height: 12px;
  margin: 0 10px 0 0;
}
.list-table li a:not(.delete_favourite):not(.delete) i:hover .popover,
.list-table li .wrap i:hover .popover {
  display: block;
}
.list-table li a:not(.delete_favourite):not(.delete) i:after,
.list-table li .wrap i:after {
  margin: 0;
}
.list-table li a:not(.delete_favourite):not(.delete) .delete_favourite,
.list-table li .wrap .delete_favourite {
  color: #424242;
  float: left;
  display: block;
  position: relative;
  width: 7.108358209%;
  height: 12px;
  text-decoration: none;
}
.list-table li a:not(.delete_favourite):not(.delete) .delete_favourite:after,
.list-table li .wrap .delete_favourite:after {
  margin-top: 0;
}
.list-table li a:not(.delete_favourite):not(.delete) .delete_favourite:hover, .list-table li a:not(.delete_favourite):not(.delete) .delete_favourite:focus,
.list-table li .wrap .delete_favourite:hover,
.list-table li .wrap .delete_favourite:focus {
  color: #2969bf;
}
.lt-ie9 .list-table li a {
  display: block;
  padding: 14px 0 11px 4.2207792%;
}
.list-table li:nth-child(2n), .list-table li.odd {
  background: #fff;
}

.content .list-table, .content-wide .list-table {
  margin: 13px 0;
}
.content .list-table li, .content-wide .list-table li {
  border-radius: 3px;
  padding: 0;
}
.content .list-table li a:not(.delete) figure, .content .list-table li .wrap figure, .content-wide .list-table li a:not(.delete) figure, .content-wide .list-table li .wrap figure {
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  overflow: hidden;
  margin: 4px 0 4px 6px;
}
.content .list-table li a:not(.delete) .delete, .content .list-table li .wrap .delete, .content-wide .list-table li a:not(.delete) .delete, .content-wide .list-table li .wrap .delete {
  display: block;
  float: right;
  padding: 14px 10px 11px 0;
}
.content .list-table li a:not(.delete) .delete:after, .content .list-table li .wrap .delete:after, .content-wide .list-table li a:not(.delete) .delete:after, .content-wide .list-table li .wrap .delete:after {
  margin-top: 2px;
}
.content .list-table li a:not(.delete) .text, .content .list-table li .wrap .text, .content-wide .list-table li a:not(.delete) .text, .content-wide .list-table li .wrap .text {
  width: auto;
  padding: 14px 10px 11px 20px;
}

@media screen and (max-width: 1004px) {
  .list-table {
    margin: 13px 5%;
  }
}
.search-results {
  display: none;
  margin-top: 0;
  background: #fffae1;
  border-top: 1px solid #cfcfcf;
}
.search-results.active {
  display: block;
}
.search-results .info {
  padding: 19px 27px 0;
  font-weight: 600;
}
.search-results .info:after {
  content: "";
  display: table;
  clear: both;
}
.search-results .info .message {
  float: left;
}
.search-results .info .message i {
  padding-right: 4px;
  color: #1d8034;
  font-weight: 400;
  cursor: normal;
}
.search-results .info .close {
  float: right;
}
.search-results .info .close i {
  padding-left: 4px;
  font-weight: 400;
}
.search-results .info .close a {
  color: #424242;
  text-decoration: none;
}
.search-results .info .close a:hover, .search-results .info .close a:focus {
  color: #303030;
}
.search-results .h1 {
  padding-top: 3px;
  padding-bottom: 10px;
  clear: left;
}
.search-results .previews {
  margin-top: 10px;
}
.search-results.section-full .info {
  padding: 19px 0 0;
}
.search-results.section-full .h1 {
  padding-top: 3px;
  padding-bottom: 10px;
}
.search-results.section-full table td, .search-results.section-full table th {
  border-color: #f5f5f5;
}
.search-results.section-full .errands-wrapper {
  margin: 0 0 30px;
  padding: 40px 4.0625%;
  border: 1px solid #e0e0e0;
  background: #f5f5f5;
}
.search-results.section-full .errands-wrapper thead tr th {
  background: #f5f5f5;
  color: #424242;
  border-bottom: 5px solid #f5f5f5;
  font-size: 16px;
  font-weight: 600;
}
.search-results.section-full .errands-wrapper tbody tr td {
  background: #fff;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 5px solid #f5f5f5;
}
.search-results.section-full .errands-wrapper .emergency td.icon {
  background: #fff6f6;
  color: #c73434;
}
.search-results.section-full .errands-wrapper .unread td.icon {
  background: #deecff;
  color: #2969bf;
}

.search-results + section {
  margin-top: 0;
}
@media screen and (max-width: 1004px) {
  .search-results + section {
    padding-bottom: 10px;
  }
}

.search-results.active + section .filter-wrapper {
  padding-top: 30px;
}

@media screen and (max-width: 767px) {
  .search-results {
    padding: 0;
  }
  .search-results h2.search-results-title {
    font-size: 18px;
  }
  .search-results .info {
    padding: 19px 5% 0;
  }
}
.navigator {
  list-style: none;
  padding: 22px 27px;
  margin: 0;
}
.navigator li {
  float: left;
  font-weight: 600;
}
.navigator li a {
  border-bottom: 1px dotted #424242;
}
.navigator li a:hover {
  border-bottom: 1px dotted #2969bf;
}
.navigator li:after {
  font-family: 'riges-icons';
  content: '>';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin: 0 5px;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
}
.navigator li.active {
  font-weight: 400;
}
.navigator li.active:after {
  display: none;
}

.service-navigator-wrap {
  position: relative;
  clear: both;
  margin-top: 37px;
}
.service-navigator-wrap.summary {
  margin-top: 0;
}
.service-navigator-wrap:before, .service-navigator-wrap:after {
  position: absolute;
  top: 1px;
  bottom: 1px;
  z-index: 100;
}
.service-navigator-wrap:before {
  background-image: -webkit-linear-gradient( left , whitesmoke 0%, rgba(245, 245, 245, 0) 100%);
  background-image: linear-gradient(to right, whitesmoke 0%, rgba(245, 245, 245, 0) 100%);
  left: 91px;
  width: 60px;
}
.service-navigator-wrap:after {
  background-image: -webkit-linear-gradient( right , whitesmoke 0%, rgba(245, 245, 245, 0) 100%);
  background-image: linear-gradient(to left, whitesmoke 0%, rgba(245, 245, 245, 0) 100%);
  right: 91px;
  width: 60px;
}
.service-navigator-wrap.shadow-left:before {
  content: '';
}
.service-navigator-wrap.shadow-right:after {
  content: '';
}
.service-navigator-wrap > div {
  border: 1px solid #dddddd;
  border-right: 0;
  border-left: 0;
  background: #f5f5f5;
}
.service-navigator-wrap > div:after {
  content: "";
  display: table;
  clear: both;
}
.service-navigator-wrap > div > a,
.service-navigator-wrap ul {
  float: left;
}
.service-navigator-wrap ul,
.service-navigator-wrap li {
  border: 0 !important;
}
.service-navigator-wrap > div > a {
  display: block;
  width: 90px;
  width: -webkit-calc(90px);
  width: -moz-calc(90px);
  width: calc(90px);
  height: 92px;
  background: #f5f5f5;
  position: relative;
  z-index: 800;
}
.service-navigator-wrap > div > a.disabled:after {
  color: #e7e7e7;
}
.service-navigator-wrap > div > a span {
  display: none;
}
.service-navigator-wrap > div > a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 33px;
  line-height: 1;
  height: 33px;
  text-align: center;
  color: #424242;
}
.steps-fit .service-navigator-wrap > div > a {
  display: none;
}
.service-navigator-wrap > div > a:first-child {
  border-right: 1px solid #dddddd;
}
.service-navigator-wrap > div > a:last-child {
  border-left: 1px solid #dddddd;
}

.service-navigator {
  width: 90%;
  width: -webkit-calc(100% - 182px);
  width: -moz-calc(100% - 182px);
  width: calc(100% - 182px);
  border: none;
  background: #f5f5f5;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1004px) {
  .service-navigator {
    width: 100%;
  }
}
.steps-fit .service-navigator {
  width: 100%;
}
.service-navigator li {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  padding: 0 28px 0 21px;
  background: url(../images/service-navigator-background.png) right -8px no-repeat;
}
@media screen and (max-width: 1004px) {
  .service-navigator li {
    left: 0 !important;
  }
}
.service-navigator li a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  *width: 100%;
  *height: 100%;
}
.service-navigator li.btn-navigate {
  width: 90px;
  height: 90px;
  padding: 0;
}
.service-navigator li.btn-navigate a {
  position: static;
}
.service-navigator li span {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 35px 0 35px 29px;
  margin-right: 10px;
}
.service-navigator li span:before {
  position: absolute;
  font-family: 'riges-icons', 'Source Sans Pro';
  content: attr(data-step);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  width: 21px;
  height: 22px;
  left: 0;
  line-height: 19px;
  padding: 0 1px 0 0;
  font-size: 16px;
  font-weight: 700;
  background: url(../images/steps-background.png);
  background-position: 0 -44px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .service-navigator li span:before {
    background-image: url(../images/steps-background@2x.png);
    background-size: 22px 110px;
    width: 20px;
    padding: 0 1px;
  }
}
.service-navigator li.begin a {
  display: none;
}
.service-navigator li.latest {
  background-position: right -444px;
}
.service-navigator li.step:last-of-type {
  background-image: none;
}
@media screen and (max-width: 1004px) {
  .service-navigator li.future {
    display: none;
  }
}
.service-navigator li.completed {
  background-color: #f5f5f5;
  background-position: right -8px;
}
.service-navigator li.completed span {
  color: #cacaca;
}
.service-navigator li.completed span:before {
  content: "c";
  font-size: 11px;
  line-height: 24px;
  font-weight: normal;
  background-position: 0 0;
}
.service-navigator li.completed.latest {
  background-position: right -444px;
}
.service-navigator li.active {
  background-color: #424242;
  background-position: right -117px;
}
.service-navigator li.active span {
  color: #fff;
}
.service-navigator li.active span:before {
  background-position: 0 -22px;
  color: #424242;
}
.service-navigator li:last-child {
  background: none;
}
.service-navigator li:last-child.active {
  background-color: #424242;
}

.section-full .service-navigator-wrap {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
@media screen and (max-width: 767px) {
  .section-full .service-navigator-wrap {
    width: 100%;
  }
}

.navigator-buttons {
  padding: 30px 0;
}
.navigator-buttons:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 767px) {
  .navigator-buttons {
    padding-bottom: 0;
  }
}
.navigator-buttons .prev {
  float: left;
}
.navigator-buttons .next {
  float: right;
}
.navigator-buttons .prev:before,
.navigator-buttons .next:after {
  margin-top: 9px;
}
.navigator-buttons.centered {
  text-align: center;
}
.navigator-buttons.centered .prev, .navigator-buttons.centered .next {
  float: none;
  display: inline-block;
}
.navigator-buttons.centered .prev i, .navigator-buttons.centered .next i {
  font-size: 18px;
}
.navigator-buttons.centered .prev i:before, .navigator-buttons.centered .next i:before {
  display: inline-block;
  margin-top: 5px;
  font-family: 'riges-icons';
  font-size: 22px;
  line-height: 16px;
}
.navigator-buttons.centered .or {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  padding: 0 24px;
}

.has-navigator .service-navigator {
  border: 0;
  border-bottom: 1px solid #dddddd;
}
.has-navigator .service-navigator.hide-desktop {
  width: 100%;
}

.section-full.push {
  padding-bottom: 50px;
}

@media screen and (max-width: 1004px) {
  .service-navigator-wrap > div > a {
    display: none;
  }
  .service-navigator-wrap ul {
    width: 100%;
  }

  .section-full.push {
    padding-bottom: 0;
  }

  .section-full .service-navigator, .service-navigator {
    margin: 0;
    border-top: 0;
  }
}
@media screen and (max-width: 1004px) and (max-width: 1004px) {
  .section-full .service-navigator, .service-navigator {
    border: 0;
  }
}
@media screen and (max-width: 1004px) {
  .section-full .service-navigator li, .service-navigator li {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    float: none;
    display: block;
    margin: 0;
    padding: 0 5%;
    border-top: 1px solid #cacaca;
    background: #e7e7e7;
  }
  .section-full .service-navigator li.btn-navigate, .service-navigator li.btn-navigate {
    display: none;
  }
  .section-full .service-navigator li.hide-mobile, .service-navigator li.hide-mobile {
    display: none;
  }
  .section-full .service-navigator li:last-child, .service-navigator li:last-child {
    background: #e7e7e7;
  }
  .section-full .service-navigator li span, .service-navigator li span {
    padding: 28px 220px 26px 29px;
    margin: 0;
    color: #747474;
  }
  .section-full .service-navigator li span:before, .service-navigator li span:before {
    background-position: 0 -66px;
    color: #e7e7e7;
  }
  .section-full .service-navigator li .btn, .service-navigator li .btn {
    position: absolute;
    right: 5%;
    top: 0;
    left: auto;
    bottom: 0;
    margin: auto;
    font-size: 20px;
    padding: 13px 40px 12px;
    font-weight: 600;
    white-space: nowrap;
    line-height: 1.4;
    height: 53px;
  }
  .section-full .service-navigator li .btn:hover, .service-navigator li .btn:hover {
    padding: 12px 40px 12px;
  }
  .section-full .service-navigator li.begin, .service-navigator li.begin {
    color: #424242;
  }
}
@media screen and (max-width: 1004px) and (max-width: 767px) {
  .section-full .service-navigator li.begin, .service-navigator li.begin {
    padding-bottom: 16px;
  }
}
@media screen and (max-width: 1004px) {
  .section-full .service-navigator li.begin a, .service-navigator li.begin a {
    display: block;
  }
}
@media screen and (max-width: 1004px) and (max-width: 767px) {
  .section-full .service-navigator li.begin a, .service-navigator li.begin a {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1004px) {
  .section-full .service-navigator li.begin span:before, .service-navigator li.begin span:before {
    background-position: 0 -44px;
  }
  .section-full .service-navigator li.only-mobile, .service-navigator li.only-mobile {
    position: relative;
    display: block;
    width: 100%;
    height: 48px;
  }
  .section-full .service-navigator li.only-mobile .progress, .service-navigator li.only-mobile .progress {
    position: absolute;
    left: 0;
    height: 48px;
    background: #1d8034 url(../images/service-navigator-mobile.png) center right no-repeat;
  }
  .section-full .service-navigator li.only-mobile .text, .service-navigator li.only-mobile .text {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 14px 0;
    color: #424242;
    font-size: 16px;
    font-weight: 600;
  }

  .navigator-buttons,
  .navigator-buttons.centered {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 1004px) and (max-width: 1004px) {
  .navigator-buttons,
  .navigator-buttons.centered {
    padding: 30px 5%;
  }
  .navigator-buttons .btn,
  .navigator-buttons.centered .btn {
    display: block;
    width: 100%;
    float: none;
    margin: 0 0 1em 0;
  }
  .navigator-buttons.errand .btn,
  .navigator-buttons.centered.errand .btn {
    display: inline-block;
    width: auto;
  }

  .begin {
    background: #fff !important;
  }
}
@media screen and (max-width: 1004px) and (max-width: 767px) {
  .section-full .service-navigator li span, .service-navigator li span {
    padding: 21px 29px 19px 29px;
  }
  .section-full .service-navigator li .btn, .service-navigator li .btn {
    position: static;
    display: inline-block;
    font-size: 20px;
    padding: 13px 40px 12px;
    line-height: 1.4;
    white-space: nowrap;
    margin-bottom: 12px;
  }
  .section-full .service-navigator li .btn:hover, .service-navigator li .btn:hover {
    padding: 12px 40px 12px;
  }

  .navigator-buttons .or, .navigator-buttons.centered .or {
    display: none;
  }
  .navigator-buttons.errand .btn, .navigator-buttons.centered.errand .btn {
    display: block;
    width: 100%;
  }
}
.map {
  width: 100%;
  max-height: 544px;
  border: 1px solid #dddddd;
  overflow: hidden;
}
.map img {
  width: 100%;
}

.tabs {
  clear: both;
  list-style: none;
  margin: 11px 0 0;
  padding: 30px 0 0 49px;
  border-bottom: 1px solid #dddddd;
}
.tabs:after {
  content: "";
  display: table;
  clear: both;
}
.tabs li {
  display: inline-block;
  *display: inline;
  vertical-align: bottom;
  margin: 0 10px 0 0;
}
.tabs li:after {
  content: "";
  display: table;
  clear: both;
}
.tabs li a {
  display: block;
  position: relative;
  padding: 17px 40px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 3px 3px 0 0;
  border: 1px solid #dddddd;
  background: #dddddd;
  outline: 0;
  color: #424242;
  text-decoration: none;
}
.tabs li a .count {
  position: absolute;
  top: 14px;
  left: 33px;
  background: #c73434;
  height: 13px;
  text-shadow: none;
  padding: 0 4px;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
}
.tabs li a:before {
  font-size: 16px;
}
.tabs li a:hover {
  color: #424242;
  background: #e7e7e7;
  border: 1px solid #e7e7e7;
  box-shadow: inset 0 1px 0 #e6e6e6;
  padding: 17px 40px;
}
.tabs li.ui-state-active {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: -1px;
}
.tabs li.ui-state-active a {
  background: #f5f5f5;
  border-color: #e0e0e0;
  border-bottom-color: #f5f5f5;
  padding: 23px 40px;
}
.tabs li.ui-state-active a:hover {
  box-shadow: none;
  border-color: #e0e0e0;
  border-bottom-color: #f5f5f5;
}
.tabs li.ui-state-active a .count {
  left: 33px;
  top: 19px;
}
.tabs li.ui-state-active.notes {
  border-bottom: 1px solid #fffae1;
  margin-bottom: -1px;
}
.tabs li.ui-state-active.notes a {
  background: #fffae1;
  border-bottom-color: #fffae1;
}
.tabs.pull-left {
  padding: 30px 0 0 0;
}

.tabs-content {
  padding: 25px 4.0625% 40px;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #f5f5f5;
}
.tabs-content.nopadding {
  padding: 25px 0 40px;
}
.tabs-content.notes {
  background: #fffae1;
}
.tabs-content .btn-right {
  margin-bottom: 4px;
}
.tabs-content h2 {
  margin-bottom: 30px;
}
.tabs-content .errands-wrapper {
  padding-top: 0;
  border: 0;
}
.tabs-content .errands-wrapper h2 {
  font-size: 18px;
}
.tabs-content .errands-wrapper table td, .tabs-content .errands-wrapper table th {
  border-color: #f5f5f5;
}
.tabs-content .errands-wrapper thead tr th {
  border-bottom: 5px solid #f5f5f5;
  font-size: 16px;
  font-weight: 600;
}
.tabs-content.official {
  border: 1px solid #e0e0e0;
  border-top: 0;
  margin-bottom: 10px;
}
.tabs-content.official .errands-wrapper {
  margin: 0;
  padding: 25px 0 0 0;
}
.tabs-content.official .errands-wrapper tbody tr td {
  background: #fff;
  font-size: 14px;
  font-weight: 600;
}
.tabs-content.official .errands-wrapper .emergency td.icon {
  background: #fff6f6;
  color: #c73434;
}
.tabs-content.official .errands-wrapper .unread td.icon {
  background: #deecff;
  color: #2969bf;
}

/* ========== MOBILE ========== */
@media screen and (max-width: 767px) {
  .tabs-content {
    padding: 25px 5% 40px;
  }
  .tabs-content .heading-wrapper {
    padding: 0 0 10px;
  }
  .tabs-content .heading-wrapper h2 {
    padding-top: 7px;
  }

  .tabs {
    padding: 30px 0 0;
  }
  .tabs li {
    float: left;
    margin: 0 0 -1px 0;
    width: 50%;
  }
  .tabs li a {
    width: 100%;
    position: relative;
    padding: 17px 0;
    text-align: center;
  }
  .tabs li a .count {
    left: 50%;
    margin-left: -66px;
  }
  .tabs li a:hover {
    padding: 17px 0;
  }
  .tabs li.ui-state-active a {
    padding: 17px 0;
  }
}
.messages {
  list-style: none;
  margin: 0;
  padding: 0;
}
.messages li {
  position: relative;
  border: 1px solid #dddddd;
  margin: 0 0 26px;
  padding: 19px 0;
  background: #fff;
  font-size: 16px;
}
.messages li:after {
  content: "";
  display: table;
  clear: both;
}
.messages li .user {
  float: left;
}
.messages li .user figure {
  margin: 0 20px;
  border-radius: 3px;
  width: 33px;
  height: 33px;
  border: 1px solid #e7e7e7;
  overflow: hidden;
  background: #fff;
}
.messages li .user figure img {
  width: 100%;
  height: 100%;
}
.messages li .message {
  margin-left: 68px;
  padding: 0 8px;
}
.messages li .author {
  display: block;
  font-size: 14px;
  padding-top: 7px;
  font-weight: 600;
}
.messages li .author .time {
  font-weight: 400;
}
.messages li .author i {
  display: inline;
  font-weight: normal;
  color: #cacaca;
}
.messages li .files {
  display: block;
  padding-top: 10px;
}
.messages li .marker {
  position: absolute;
  background: url(../images/marker-sprite.png) no-repeat;
  background-position: 0 -10px;
  width: 16px;
  height: 10px;
  left: 27px;
  bottom: -10px;
}
.messages li.official {
  background: #f3f8ff;
}
.messages li.official .marker {
  background-position: 0 0;
  right: 27px;
  left: auto;
}
.messages li.unread {
  background: #f3f8ff;
  border-color: #2969bf;
}
.messages li.unread .author i:before {
  color: #2969bf;
}
.messages li.unread .bullet {
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  top: 9px;
  right: 9px;
}
.messages li.unread .bullet i {
  float: right;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #2969bf;
}

#new-message,
#new-note {
  display: none;
}
#new-message .heading-wrapper,
#new-note .heading-wrapper {
  padding-bottom: 0;
}
#new-message .heading-wrapper h2,
#new-note .heading-wrapper h2 {
  padding-bottom: 0;
  margin-bottom: 0 !important;
}
#new-message input, #new-message textarea,
#new-note input,
#new-note textarea {
  margin-bottom: 26px;
}
#new-message input.btn, #new-message textarea.btn,
#new-note input.btn,
#new-note textarea.btn {
  margin: 10px 0 0 0;
}
#new-message .btn-inline,
#new-note .btn-inline {
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 767px) {
  #new-message .btn-inline,
  #new-note .btn-inline {
    margin: .5em 0 0 !important;
    display: block !important;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
  }
}

/* ========== MOBILE ========== */
@media screen and (max-width: 767px) {
  .messages li .user {
    display: none;
  }
  .messages li .message {
    margin: 0;
    padding: 0 1em;
  }
  .messages li .message .btn-file {
    display: block;
    text-align: center;
  }
}
.panel-wrapper {
  position: relative;
  background: #cacaca;
  clear: both;
}
.panel-wrapper.follow, .panel-wrapper.yellow {
  background: #ffef9f;
  border-bottom: 1px solid #cacaca;
  z-index: 201;
  top: 0;
  left: 0;
  width: 100%;
}
.panel-wrapper.yellow .inner .current-step {
  font-weight: 300;
}
.panel-wrapper.official {
  background: transparent;
}
.panel-wrapper.official .inner .buttons {
  padding-left: 0;
}
.panel-wrapper.follow {
  position: fixed;
  font-weight: 600;
}
.panel-wrapper .inner {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 0;
  position: relative;
}
.panel-wrapper .inner:after {
  content: "";
  display: table;
  clear: both;
}
.panel-wrapper .inner .current-step {
  float: left;
  display: table-cell;
  vertical-align: middle;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  padding: 0 10% 0 5%;
  margin-right: 53px;
}
.panel-wrapper .inner .buttons {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  padding: 0 !important;
  right: 5%;
}
.panel-wrapper .inner .buttons .btn {
  padding: 10px 9px 9px;
  margin: 0 0 10px 0;
}
.panel-wrapper .inner .buttons .btn:hover {
  padding: 9px 9px 9px;
}
.panel-wrapper .inner .buttons {
  padding: 0 4.0625% 0;
  min-height: 43px;
}
.panel-wrapper .inner .buttons:after {
  content: "";
  display: table;
  clear: both;
}
.panel-wrapper .inner .buttons .btn {
  float: left;
  margin: 0 10px 10px 0;
}
.panel-wrapper .inner .buttons .btn span:before {
  margin-top: 1px;
}
.panel-wrapper .inner .buttons .btn span:after {
  margin-top: 2px;
}
.panel-wrapper.edit-indicator {
  background: #fffae1;
}
.panel-wrapper.edit-indicator .inner {
  padding: 14px 0;
  text-align: center;
}

.login-overlay-shadow, .delete-overlay-shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: url(../images/black_overlay.png);
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.login-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  *top: 50%;
  *left: 50%;
  *margin-top: -273px;
  *margin-left: -322px;
  width: 644px;
  height: 557px;
  background: #fff;
  z-index: 1000;
  border-radius: 3px;
  font-size: 16px;
}
.login-overlay h2 {
  line-height: 1;
  text-align: center;
  padding: 26px 0 0 0;
  color: #0b1012;
}
.login-overlay .close {
  position: absolute;
  right: 0;
  padding: 15px 19px 0 0;
  color: #0b1012;
  z-index: 1001;
  background: #fff;
  border-radius: 0 3px 0 0;
}
.login-overlay .close a {
  display: block;
  width: 11px;
  height: 11px;
}
.login-overlay .close a:before {
  vertical-align: top;
}
.login-overlay .excerpt {
  display: block;
  text-align: center;
  padding: 29px 85px 0;
}
.login-overlay h3 {
  position: relative;
  border-bottom: 1px solid #e7e7e7;
  font-weight: 600;
  font-size: 16px;
  height: 12px;
  color: #0b1012;
  margin: 32px 0 30px 0;
}
.login-overlay h3 span {
  position: absolute;
  display: block;
  background: #fff;
  width: 161px;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  *left: 50%;
  *margin-left: -80px;
}
.login-overlay .buttons {
  list-style: none;
  margin: 0;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #e7e7e7;
  line-height: 1;
}
.login-overlay .buttons li {
  padding: 0 0 7px 0;
  text-align: center;
}
.login-overlay .buttons li .btn {
  margin: 0 auto;
  padding: 15px 0;
  width: 183px;
  text-align: center;
}
.login-overlay .buttons li .btn:hover {
  padding: 14px 0 15px;
}
.login-overlay .info {
  display: block;
  padding: 35px 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.login-overlay .info a {
  color: #2969bf;
}
.login-overlay .info a:hover {
  border-bottom: 1px dotted #2969bf;
}

/* ========== MOBILE ========== */
@media screen and (max-width: 767px) {
  .login-overlay {
    position: absolute;
    width: 100%;
    margin: 0;
    top: 10%;
    bottom: auto;
    height: auto;
  }
  .login-overlay .excerpt {
    font-size: 14px;
    width: 90%;
    left: 0;
    margin: 0;
    right: auto;
    padding: 16px 5% 0;
  }
  .login-overlay h3 {
    margin: 15px 0;
  }
  .login-overlay .buttons {
    padding: 0;
  }
  .login-overlay .buttons li {
    padding: 0 0 15px;
  }
  .login-overlay .buttons li .btn {
    margin: 0 5%;
    width: auto;
    font-size: 20px;
  }
  .login-overlay .info {
    padding: 15px 0 35px;
  }
}
.summary-buttons {
  list-style: none;
  margin: 0;
  padding: 0 0 40px 0;
}
.summary-buttons li {
  display: inline-block;
  *display: inline;
  margin: 0 10px 10px 0;
}
.summary-buttons li:after {
  content: "";
  display: table;
  clear: both;
}
.summary-buttons li a {
  display: block;
  width: 96px;
  text-align: center;
  font-weight: 600;
  line-height: 1;
  border-radius: 3px;
  background: #dddddd;
  padding: 18px 0;
  color: #424242;
  text-decoration: none;
}
.summary-buttons li a span {
  display: block;
  font-size: 32px;
  line-height: 1;
}
.summary-buttons li a:hover {
  color: inherit;
  background: #c6c6c6;
}
.summary-buttons li.emergency a {
  background: #c73434;
  color: #421e1e;
}
.summary-buttons li.emergency a:hover {
  background: #ce393d;
}
.summary-buttons li.owned a {
  background: #1d8034;
  color: #0d4e1c;
}
.summary-buttons li.owned a:hover {
  background: #00ad4e;
}
.summary-buttons li.flagged a {
  background: #ffef9f;
  color: #2e3b4c;
}
.summary-buttons li.flagged a:hover {
  background: #e5d894;
}

.delete-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  *top: 50%;
  *left: 50%;
  *margin-top: -103px;
  *margin-left: -322px;
  width: 644px;
  height: 205px;
  background: #fff;
  z-index: 1000;
  border-radius: 3px;
  font-size: 16px;
}
.delete-overlay h2 {
  line-height: 1;
  text-align: center;
  padding: 26px 0 0 0;
  color: #0b1012;
}
.delete-overlay .close {
  position: absolute;
  right: 0;
  padding: 15px 19px 0 0;
  color: #0b1012;
  z-index: 1001;
  background: #fff;
  border-radius: 0 3px 0 0;
}
.delete-overlay .close a {
  display: block;
  width: 11px;
  height: 11px;
}
.delete-overlay .close a:before {
  vertical-align: top;
}
.delete-overlay .excerpt {
  display: block;
  height: 65px;
  text-align: center;
  padding: 15px 85px;
  font-weight: 600;
}
.delete-overlay h3 {
  position: relative;
  border-bottom: 1px solid #e7e7e7;
  font-weight: 700;
  font-size: 16px;
  height: 12px;
  color: #0b1012;
  margin: 32px 0 30px 0;
}
.delete-overlay h3 span {
  position: absolute;
  display: block;
  background: #fff;
  width: 161px;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  *left: 50%;
  *margin-left: -80px;
}
.delete-overlay .buttons {
  text-align: center;
  margin: 0;
  padding: 15px 0;
  border-top: 1px solid #e7e7e7;
  line-height: 1;
}
.delete-overlay .info {
  display: block;
  padding: 35px 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.delete-overlay .info a {
  color: #2969bf;
}
.delete-overlay .info a:hover {
  border-bottom: 1px dotted #2969bf;
}

/* ========== MOBILE ========== */
@media screen and (max-width: 767px) {
  .delete-overlay {
    width: 96%;
    *margin-left: -48%;
  }
  .delete-overlay .excerpt {
    padding: 15px;
  }
}
