@CHARSET "ISO-8859-1";

.btn-upload {
	position: relative;
}

input[type="file"].qloader {
	cursor: pointer;
    display: block !important;
    font-size: 22px;
    margin: 0;
    opacity: 0;
	filter: alpha(opacity: 0);
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: visible;
    width: 90px;
}