@CHARSET "ISO-8859-1";

.puddialog-hidden {
	visibility: hidden;
	position: absolute;
	left: -999;
	top: -999;
	width: 360px;
}

.puddialog {
	text-align: center;
	font-weight: normal;
}

.puddialog .btn {
	margin-top: 5px;
    width: 30%;
    display: inline-block;
}

.puddialog .done-btn {
	margin-right: 5px;
}

.puddialog span {
	font-weight: 600;
}

.mapquerydialog .puddialog {
	width: 360px;
}