/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

@import "variables";
@import "normalize";
@import "boilerplate/boilerplate-header";
@import "boilerplate/boilerplate-footer";
@import "osynlig-mixins";
@import "variables";

@import "bourbon/_bourbon";
@import "neat/neat";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
@import "fonts/riges-icons";

figure {

	img {
		max-width: 100%;
	}
}