@CHARSET "ISO-8859-1";

#AuthifySigningProvider ul {
	list-style: none outside none;
    margin: 0;
    padding: 0;
    max-width: 280px;
    min-width: 180px;
}

#AuthifySigningProvider ul li {
    border-radius: 3px;
    border: 1px solid #E7E7E7;
    margin-bottom: 5px;
    padding: 0;
}

#AuthifySigningProvider ul li a {
	padding: 8px 13px;
	display: block;
	font-weight: 600;
	background: url(../pics/arrow.png) no-repeat scroll right center #FBFBFB;
	color: #424242;
}

#AuthifySigningProvider ul li a:hover {
	background-color: #F5F5F5;
}

