<?xml version="1.0" encoding="UTF-8"?>
<web-app id="demo.oeplatform.org" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>demo.oeplatform.org</display-name>
	<description>demo.oeplatform.org</description>	
	
	<welcome-file-list>
		<welcome-file>core</welcome-file>
	</welcome-file-list>
 	
 	<!-- Core servlet -->	 	  	  		
 	
     <servlet>
        <servlet-name>Core</servlet-name>
        <servlet-class>se.unlogic.hierarchy.core.servlets.CoreServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
 	
  	<servlet-mapping>
    	<servlet-name>Core</servlet-name>
	    <url-pattern>/core/*</url-pattern>
 	</servlet-mapping>
 	
	<filter>
		<filter-name>URLFilter</filter-name>
		<filter-class>se.unlogic.hierarchy.core.servlets.URLFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>URLFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>  

	<!--<filter>-->
		<!--<filter-name>OAuth2ClientContextFilter</filter-name>-->
		<!--<filter-class>org.springframework.security.oauth2.client.filter.OAuth2ClientContextFilter</filter-class>-->
	<!--</filter>-->

	<!--<filter-mapping>-->
		<!--<filter-name>OAuth2ClientContextFilter</filter-name>-->
		<!--&lt;!&ndash;<servlet-name>Core</servlet-name>&ndash;&gt;-->
		<!--<url-pattern>/*</url-pattern>-->
	<!--</filter-mapping>-->

</web-app>